html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* default styles */
body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: Source Sans Pro, sans-serif;
}

.container {
  display: flex;
  width: 90%;
  margin: auto;
  color: #545149;
  background-color: #f4f1ec;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 5rem;
}
/* 780px styles */
@media only screen and (min-width: 768px) {
}
/* 1024pxpx styles */
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
  }
  .container {
    max-width: 1000px;
  }
}
