/* Desktop styles */
@media only screen and (min-width: 1024px) {
.tweet-container {
  border-style: groove;
  width: 960px;
  margin: 8px 8px 8px 8px; 
}

.tweet-container:hover {
  border-style: solid;
  box-shadow: 5px 10px #888888;;
  width: 960px;
  margin: 8px 8px 8px 8px; 
  font-weight: bold;
}


/* Header CSS */
.tweet-container-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}

.tweet-container-header > .left-side {
  display: flex;
  flex-direction: row;
}

.tweet-container-header > .right-side {
  margin-top: 10px;
  margin-right: 10px;
}

.avatar {
  margin-left: 20px;
  margin-top: 20px;
}

.username {
  margin-top: 40px;
  margin-left: 12px;
}
  
.tweet-container:hover .tweet-container-header .right-side {
display: block;
}

.tweet-container-header > .right-side {
display: none;
}


/* Body CSS */
.tweet-text {
  display: flex;
  justify-content: center;
  overflow-wrap: anywhere;
  height: 90px;
  border-block: inherit;
  border-top-width: 0px;
  margin-right: 5px;
  margin-left: 5px;
}


/* Footer CSS */
.tweet-container-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-container-footer > .left-side {
  display: flex;
  flex-direction: row;
  font-size: initial;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 8px;
}

.tweet-container-footer > .right-side {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.right-side > .icon {
  display: flex;
  width: 13px;
  height: 13px;
  margin-top: 4px;
  margin-right: 6px;
}
}